body {
    margin:5px;
    padding:5px;
    line-height:1.15;
}

p {
    background-color:darkorange;
    text-transform: capitalize;
    width: 50%;
    padding: 20px;
    
}
 
h1, h2, h3 {
    font-weight: bold;
    margin-top:15px;
}

ul li{
    margin-left: 25px;
    list-style-type: none;
}
 
li {
    background-color: skyblue;
    border-radius: 20%;
    border: solid 5px navy;
    width: 20%;
    display: inline-block;
    text-align: left;
    padding: 20px;
    margin: 20px;
}

img {
    box-sizing: border-box;
    width: 24%;
    padding: 12px;
    border: dashed 2px green;
    margin: none;
}